.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 100vw;
  width: 100vw;
  align-items: center;
  background-color: #feededa4;
}

.page-cadastro {
  display: grid;
  gap: 20px;
  justify-content: center;
  width: 1500px;
  border-radius: 20px;
  background-color: #feeded;
  box-shadow: 0px 0px 10px 2px #a0404081;
  margin: 15px;
  grid-template-columns: 1fr 1fr 1fr;
  
}

.inputs-groups {
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 460px;
}
.inputs-groups label {
  color: #000000;
  font-weight: bolder;
  font-size: 22px;
  padding: 5px;
}

.inputs {
  height: 50px;
  border-radius: 50px;
  padding-left: 25px;
  font-size: 15px;
  background-color: #fca2a2;
  color: aliceblue;
  font-weight: bold;
  outline: none;
  width: 100%;
}

#input-date {
  padding-right: 15px;
}

.Title {
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  color: #ffffff;
  background-color: #9f2a2a;
  width: 100vw;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bolder;
}


.logradouro-group {
  display: flex;
  flex-direction: row;
  width: 100%;
}
.logradouro-group .inputs:first-child {
  width: 75%;
  border-radius: 50px 0 0 50px;
  border-right: 1px solid #f98e8e;
}

.logradouro-group .inputs:last-child {
  width: 25%;
  border-radius: 0 50px 50px 0;
  padding-left: 15px; 
}

.gender-input{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
}

.title-group{
  text-align: center;
  font-weight: bold;
  color: #9f2a2a;
  margin-top: 10px;
  font-size: 24px;
}
#side-information-personal{
  box-shadow: 10px 0px 15px -5px #a0404081;
}
#side-address{
  box-shadow: 10px 0px 15px -5px #a0404081;

}
