.container {
  display: flex;
  flex-direction: column;
  height: 100vh;
  max-width: 100vw;
  width: 100vw;
  align-items: center;
  background-color: #feeded;
}

.page-cadastro {
  display: flex;
  gap: 20px;
  justify-content: center;
  align-items: center;
  width: 1200px;
  border-radius: 20px;
  background-color: white;
  box-shadow: 0px 0px 10px 2px #a0404081;
  margin: 10px;
}

.inputs-groups {
  padding: 15px;
  display: flex;
  flex-direction: column;
  width: 460px;
}
.inputs-groups label {
  color: #000000;
  font-weight: bolder;
  font-size: 22px;
  padding: 5px;
}

.inputs {
  height: 50px;
  border-radius: 50px;
  padding-left: 25px;
  font-size: 15px;
  background-color: #fca2a2;
  color: aliceblue;
  font-weight: bold;
  outline: none;
}

#input-date {
  padding-right: 15px;
}

.Title {
  font-size: 30px;
  font-family: "Times New Roman", Times, serif;
  color: #ffffff;
  background-color: #9f2a2a;
  width: 100vw;
  text-align: center;
  margin-bottom: 10px;
  font-weight: bolder;
}
.option-estado {
  max-height: 200px;
}

.custom-select__control {
  height: 50px;
  border-radius: 50px !important; /* !important para forçar o override */
  padding-left: 10px; /* Um pouco menos que o input, pois o select tem seu padding interno */
  font-size: 15px;
  background-color: #fca2a2 !important;
  color: aliceblue !important; 
  outline: none !important;
  border: none !important;
  box-shadow: none; /* Remove a sombra padrão dele */
  font-weight: bold !important;
}

.custom-select__single-value {
  color: aliceblue !important;
  outline: none !important;
  font-weight: bold !important;


}

.custom-select__placeholder {
  color: aliceblue !important;
  opacity: 0.8; /* Um pouco mais claro que o texto normal */
  outline: none !important;
  font-weight: bold !important;


}