* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-Cad-Sala {
  max-height: 80vh;
  height: 82vh;
  padding: 1rem;
  padding-top: 0;
}

.LinesOptions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  margin-top: 5px;
}
.LineDown {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr 1fr !important;
  justify-content: space-around !important;
}
.optionsCad {
  display: flex;
  flex-direction: column; /* Coloca os itens um em cima do outro */
  align-items: center; /* Centraliza horizontalmente */
  gap: 10px;
}
.config-img-cad-sala {
  height: 290px;
  width: 250px;
  object-fit: cover;
  border-radius: 10px;
}

.actions-cad-sala-leitos {
  display: grid;
  grid-template-columns: 1fr;
  margin: 5px;
}

.inputs-Cad-Sala-Leitos {
  height: 40px;
  margin: 5px;
  border-radius: 50px;
  padding-left: 25px;
  font-size: 15px;
  background-color: #fca2a2;
  color: aliceblue;
  font-weight: bold;
  outline: none;
  width: 500px;
}
.cadastro-Sala-Leitos {
  display: flex;
  flex-direction: column;
}
.cadastro-Sala-Leitos label {
  color: #000000;
  font-weight: bolder;
  font-size: 20px;
  padding: 5px;
}
.title-group-cad-sala {
  text-align: center;
  font-weight: bold;
  color: #9f2a2a;
  margin-top: 10px;
  font-size: 24px !important;
}
