* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container-Cad-Sala {
  max-height: 80vh;
  height: 82vh;
  padding: 1rem;
  padding-top: 0;
}

.LinesOptions {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  justify-content: space-around;
  margin-top: 5px;
}
.LineDown {
  display: grid !important;
  grid-template-columns: 1fr 1fr 1fr 1fr !important;
  justify-content: space-around !important;
}
.optionsCad {
  display: flex;
  flex-direction: column; /* Coloca os itens um em cima do outro */
  align-items: center; /* Centraliza horizontalmente */
  gap: 10px;
}
.config-img-cad-sala {
  height: 290px;
  width: 250px;
  object-fit: cover;
  border-radius: 10px;
}
