* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container-dashboard-funAdm {
  display: grid;
  grid-template-rows: auto 1fr;
  height: 100vh;
  width: 100vw;
  background-color: #feeded;
}

.container-dashboard-funAdm > :nth-child(2) {
  align-self: center;
  justify-self: center;
  transform: translateY(20px);
}
