* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.nav-bar-top ul {
  list-style: none;
  margin: 0;
  padding: 0;
  background-color: #eb6d6d;
  border-radius: 20px;
  box-shadow: 0 4px 12px rgba(133, 126, 126, 0.1);
  display: inline-block;
  min-width: 250px;
}

.nav-bar-top li {
  margin: 0;
}

.nav-bar-top li a {
  display: block;
  padding: 12px 24px;
  color: aliceblue;
  text-decoration: none;
  white-space: nowrap;
  transition: background-color 0.3s, color 0, 3s;
}

.nav-bar-top li a:hover {
  background-color: #c93838;
  color: rgb(254, 255, 255);
  border-radius: 20px;
}
