* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.topper-bar {
  background-color: #600505;
  width: 100%;
  height: 95px;
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  align-items: center;
}

.search-container {
  display: flex;
  height: 85px;
  gap: 10px;
  grid-column: 2;
  justify-content: center;
  align-items: center;
}

.bar-search {
  background-color: #feeded;
  border-radius: 50px;
  padding-left: 50px;
  padding-right: 30px;
  width: 710px;
  height: 50px;
  outline: none;
  border: none;
  font-weight: bold;
  font-size: 15px;
}
.bar-search::-webkit-search-cancel-button {
  transform: scale(1.5);
}

.lupa-search {
  width: 30px;
  height: 30px;
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  left: 15px;
}

.img-Teste {
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background-color: white;
  cursor: pointer;
}

.input-form {
  position: relative;
}

.functions-bar {
  width: 100%;
  background-color: #780606;
  height: 60px;
  grid-column: 1 / -1;
  border-radius: 15px 15px 0px 0px;
  transform: translateY(-8px);
  margin-bottom: 20px;
}

.group-elements-second-navbar {
  width: 100vw;
  display: flex;
  list-style: none;
  padding: 0;
  justify-content: center;
  align-items: center;
  gap: 40px;
  height: 100%;
}

.elements-second-navbar {
  font-weight: 600;
  letter-spacing: 1px;
  height: 100%;
  align-content: center;
  color: aliceblue;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  transition: transform 0.2s ease-in-out;
  padding: 5px;
}

.elements-second-navbar:hover {
  background-color: rgb(248, 162, 162, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 4px outset;
  border-radius: 10px;
  border-color: rgba(255, 255, 255, 0.534);
  cursor: pointer;
}

.profile-container {
  grid-column: 3;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding-right: 30px;
}

.profile-select {
  font-weight: 600;
  letter-spacing: 1px;
  color: aliceblue;
  font-size: 18px;
  font-family: Arial, Helvetica, sans-serif;
  transition: transform 0.2s ease-in-out;
  padding: 5px;

  background-color: transparent;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

.profile-select:hover {
  background-color: rgb(248, 162, 162, 0.3);
  backdrop-filter: blur(5px);
  -webkit-backdrop-filter: blur(5px);
  border: 4px outset;
  border-radius: 10px;
  border-color: rgba(255, 255, 255, 0.534);
}

.profile-select option {
  background-color: #600505;
  color: aliceblue;
  font-weight: 600;
  border: none;
}